.Topics {
  flex: 0 1 100%;
}

.Topics-tabs {
  display: flex;
  justify-content: space-around;
  background: #f8fafb;
  margin-bottom: 1rem;
}

.Topics-tab {
  padding: 1.25rem 1rem;
  text-align: center;
  flex: 1;
  position: relative;
}

.Topics-tab:not(:first-child):not(.is-active) {
  border-left: 1px solid #e9eef3;
}
.Topics-tab:not(:last-child):not(.is-active) {
  border-right: 1px solid #FFF;
}

.Topics-tab:hover {
  background: #fefefe;
}

.Topics-tab.is-active {
  background: #32394c;
  color: white;
}

.Topics-tab.is-active::after {
  content: '';
  width: 10px;
  background: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10px;
  margin: 0 auto;
  transform: translateY(50%) rotateZ(45deg);
}

.Topic {
  display: none;
  padding: 1rem 2rem;
}

.Topic.is-active {
  display: block;
}

.Topic-column:not(:last-child) {
  /* background: pink; */
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e9eef2;
}


.Topic-heading {
  font-size: 1.333rem;
  margin: 2rem 1em 3rem;
}

.Topic-column:first-child .Topic-heading {
  margin-top: 1rem;
}