.Barchart {
  display: flex;
  background: rgba(0,0,0,0.04);
  margin-top: 7px;
  padding: 4px 0;
  margin-bottom: 7px;
  flex-wrap: wrap;
}

@media (min-width: 568px) {
  .Barchart-bar  {
    flex-wrap: nowrap;
    flex: 70%;
  }
}

.Barchart:nth-child(even) {
  background: none;
}
.Barchart-bar {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  flex: 1 1 100%;
}

@media (min-width: 568px) {
  .Barchart-bar  {
    flex: 70%;
  }
}

.Barchart-topic {
  flex: 1 1 100%;
}

@media (min-width: 568px) {
  .Barchart-topic  {
    flex: 30%;
    padding-left: 0.5rem;
  }
}

.Barchart-bar .Barchart-segment {
  color: #FFF;
  display: block;
  font-size: 0.8rem;
  height: 1.466rem;
  line-height: 1.466rem;
  text-align: center;
}

.Barchart-segment.Barchart--standsTaken {
  background-color: lightgreen;
}

.Barchart-segment.Barchart--idle {
  background-color: lightgrey;
}

.Barchart-segment.Barchart--away {
  background-color: salmon;
}
