* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* 375px, 768px, 1024px, (1234px), 1440px */
html, body {
  height: 100%;
  line-height: 1.5;
}

body {
  background: #F2F2F2;
  max-width: 1440px;
  color: #393D3F;
  margin: 1rem auto;
}

@media (max-width: 1024px) {
  body {
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 1456px) {
  body {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  color: initial;
}

.contain {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

@media (min-width: 1234px) {
  .contain {
    flex-wrap: nowrap;
  }
}

.fill {
  width: 100%;
}

.typcn {
  padding-left: 0;
  padding-right: 0.422rem;
  text-indent: 0;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 6rem;
  padding-left: 1.777rem;
  background: white;
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
  font-family: 'Lora', serif;
  font-size: 1.777rem;
  margin: 0;
  width: 100%;
}
