body {
  margin: 3px;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  line-height: 1.5;
}

body {
  background: #F2F2F2;
  color: #393D3F;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

.contain {
  display: flex;
  overflow: hidden;
}

.fill {
  width: 100%;
}

.typcn {
  padding-left: 0;
  padding-right: 0.422rem;
  text-indent: 0;
}
