.Speeches {
  padding: 1rem;
}

.Speeches-items {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lora', serif;
  margin: 2rem auto;
}

.Speeches-item {
  flex: 0 1 50%;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 425px) {
  .Speeches-item {
    flex: 0 1 33.333%;
  }
}

.Speeches-statsText {
  color: #06ABDC;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .Speeches-statsText {
    font-size: 2.5rem;
  }
}
.Speeches-statsHeading {
  color: #51575a;
  font-size: 1rem;
}
