.Search-input {
  border-radius: 30px;
  border: 0;
  border: 1px solid rgba(44, 63, 80, 0.2);
  flex: 1 1 100%;
  font-size: inherit;
  margin: 1rem 0;
  outline: none;
  padding: 0.75rem;
}

.Search-input:focus {
  box-shadow: 0 0 3px 0 rgba(6, 171, 220, 0.5);
}

@media (min-width: 950px) {
  .Search-input {
    flex: 0 1 17rem;
    margin: 0;
    margin-left: auto;
  }
}
