.ListItem {
  width: 100%;
  background: #fdfdff;
  padding: 3px;
  margin: 1rem;
}

@media (min-width: 375px) {
  .ListItem {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 768px) {
  .ListItem {
    width: calc(33.333% - 2rem);
  }
}

@media (min-width: 920px) {
  .ListItem {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1234px) {
  .ListItem {
    width: calc(20% - 2rem);
  }
}

.ListItem[href^='/thingflokkar/']  .ListItemImage-image {
  padding-bottom: 100%;
  background-size: 70%;
}

@media (min-width: 768px) {
  .ListItem[href^='/thingflokkar/'] {
    width: calc(33.333% - 2rem);
  }
}
