.parties {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.parties__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.parties__list-item {
  background-color: #eee;
  margin-bottom: 10px;
  transition: transform 300ms ease-in-out;
}

.parties__list-item:hover {
  transform: scale(1.05);
}

.parties__list-link {
  color: #666;
  display: block;
  font-size: 1.6em;
  font-weight: 300;
  padding: 10px 30px;
  text-decoration: none;
}
