.Friends {
  counter-reset: friends;
}

.Friends .icon-friend {
  color: #90ed7d;
}

.Friends .icon-enemy {
  color: #cb3838;
}

.Friends-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.5;
}

.Friends-list dt,
.Friends-list dd {
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
  font-size: 0.9rem;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.Friends-list dt {
  flex: 1 1 60%;
}

.Friends-list dd {
  flex: 0 1 40%;
}

.Friends-list dt:first-of-type,
.Friends-list dd:first-of-type {
  border: 0;
  font-size: 1rem;
  font-weight: 500;
}

.Friends-list dt:last-of-type,
.Friends-list dd:last-of-type {
  border: 0;
}

.Friends-list dt:not(:first-child)::before {
  margin-right: 0.422rem;
}

.Friends-list dd {
  text-align: right;
}

.Friends-list a {
  color: #068AB1;
}

@media (min-width: 768px) {
  .Friends-list a:hover {
    text-decoration: underline;
  }
}

.Friends-badge {
  display: inline-block;
  vertical-align: middle;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.Friends-heading {
  font-size: 1.333rem;
  margin-bottom: 1rem;
}
