.Nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100%;
  background: #32394C;
  padding: 1rem;
}

@media (min-width: 425px) {
  .Nav {
    padding: 1rem 0;
  }
}
@media (min-width: 768px) {
  .Nav {
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-right: 1px solid #313131;
    width: 15rem;
    min-height: 100%;
    padding: 0;
    letter-spacing: 1px;
  }
}
@media (min-width: 1234px) {
  .Nav {
    width: 18rem;
    max-width: 18rem;
    min-height: 100%;
  }
}
.Nav-top {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  color: #fdfdff;
  font-family: 'Lora', serif;
  font-size: 1.777rem;
  text-align: center;
}
@media (min-width: 768px) {
  .Nav-top {
    flex-direction: column;
    width: auto;
    height: 6rem;
  }
}
.Nav-item {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fdfdff;
  letter-spacing: .8px;
}
@media (min-width: 425px) {
  .Nav-item {
    display: initial;
    flex: initial;
  }
}
@media (min-width: 768px) {
  .Nav-item {

    padding: 1rem 0;
    border-bottom: 1px solid #313131;
    border-left: 4px solid transparent;
    font-size: 1rem;
    text-indent: 1rem;
  }
  .Nav-item:first-of-type   {
    border-top: 1px solid #313131;
  }
}
@media (min-width: 1234px) {
  .Nav-item {
    padding: 1rem;
  }
}
.Nav-item > span {
  font-size: 1.333rem;
  color: #06ABDC;
}

@media (min-width: 768px) {
  .Nav-item:hover {
    background: rgba(33, 35, 36, 0.2);
  }
}
.Nav-item.is-active {

}

@media (min-width: 768px) {
  .Nav-item.is-active {
    background: #212324;
    color: #fdfdff;
    border-left-color: #06ABDC;
  }
}

.Nav-title {
  padding: 1rem;
  color: white;
}

.Nav-titleDot {
  color: #06ABDC;
}
