.Footer {
  padding: 1rem 2rem;
  background: #f8fafb;
  border: 1px solid #e9eef2;
  border-top: 0;
  text-shadow: 0px 1px 0 #fff;
  text-align: center;
}

.Footer em {
  font-style: italic;
}

@media (min-width: 568px) {
  .Footer {
    text-align: right;
  }
}
