.ListItemContent {
  padding: 0.563rem;
}

.ListItemContent-title {
  font-size: 1rem;
  font-weight: 500;
}

.ListItemContent-description {
  font-size: 1rem;
  font-style: italic;
  color: #5d6467;
}
