.party-details {
  margin: 20px;
}

.party-details__section {
  margin-bottom: 20px;
}

.party-details__section:last-child {
  margin-bottom: 0;
}

.party-details__introduction {
  display: flex;
  flex-direction: column-reverse;
}

.party-details__introduction-image {
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 277px;
}

.party-details__introduction-text {
  margin-bottom: 20px;
}

.party-details__introduction-name, .party-details__introduction-party {
  margin: 0;
  padding: 0;
}

.party-details__votes {

}
