.KPI {
  flex: 0 1 100%;
  background: white;
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lora', serif;
  font-size: 1.777rem;
  margin: 1rem;
  padding-bottom: 1rem;
}

.KPI-smallprint {
  font-size: 13px;
  display: block;
  margin-left: auto;
  padding-right: 2rem;
  color: #adadad;
  font-style: italic;
}

.KPI-stats {
  border: 0;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  margin: auto;
  max-width: initial;
  padding: 2rem 0;
  width: 100%;
}

@media (min-width: 1234px) {
  .KPI-stats {
    background: none;
    padding: 2rem;
    padding-bottom: 1rem;
  }
}

.KPI-statsItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
}

@media (min-width: 1234px) {
  .KPI-statsItem {
    margin-right: 2.25rem;
  }
  .KPI-statsItem:last-child {
    margin-right: 0;
  }
}

.KPI-statsHeading {
  color: #51575a;
  font-size: 1rem;
  font-style: italic;
}

.KPI-statsText {
  color: #06ABDC;
  font-size: 2rem;
  text-shadow: 0 2px 0 #FFF;
}

@media (min-width: 768px) {
  .Main-statsText {
    font-size: 2.5rem;
    text-transform: none;
  }
}
