.Words {
  background: white;
}

.Words-heading {
  font-size: 2.4em;
  font-weight: 100;
  text-align: center;
}

.Words-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.5;
  padding: 1rem 0;
}

.Words-list > dt,
.Words-list dd {
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
  flex: 1 50%;
  font-size: 0.9rem;
}

.Words-list > dt {
  text-align: right;
}

.Words-list dd {
  overflow: hidden;
  position: relative;
  text-align: left !important;
}

.Words-list dd div {
  background-color: #eca72c;
  display: inline-block;
  height: 10px;
  left: 10px;
  margin-left: 5px;
  position: absolute;
  top: 33.3%;
}

.Words-list dd > span {
  -moz-border-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 1 100%;
  -o-border-image: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 1 100%;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 1 100%;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 1 100%;
  border-style: solid;
  border-width: 0 50px 0 0;
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
  width: 30px;
}

.Words-list dd span > span {
  display: inline-block;
  min-width: 30px;
  position: relative;
  right: -20px;
}

.Words-list > dt:last-of-type,
.Words-list dd:last-of-type {
  border: 0;
}
