.About {
  height: 100%;
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  background: white;
}

.About p {
  max-width: 50em;
  padding: 1rem;
  color: #333;
  line-height: 1.75;
  font-size: 1.1rem;
  font-weight: 300;
}
