.About {
  height: 100%;
  margin: 2rem;
  padding: 1rem;
  background: white;
}

.About p {
  max-width: 50em;
  margin: 1rem;
  color: #333;
  line-height: 1.75;
  font-size: 1.1rem;
  font-weight: 300;
}

.About h2 {
  font-size: 1.333rem;
  margin: 1rem;
}
