.DetailsMenu > ul {
  display: flex;
  justify-content: space-around;
  background: white;
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
}

.DetailsMenu-item {
  background: #e9eef2;
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.DetailsMenu-itemLink {
  padding: 1.5rem 1rem;
  width: 100%;
  position: relative;
  height: 100%;
}

.DetailsMenu-itemLink.is-active::after {
  content: '';
  width: 10px;
  background: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10px;
  margin: 0 auto;
  transform: translateY(50%) rotateZ(45deg);
}

.DetailsMenu-itemLink.is-active {
  color: white;
  background: #32394C;
}

.DetailsMenu-year {
  display: none;
}

@media (min-width: 768px) {
  .DetailsMenu-year {    
    display: initial;
    font-style: italic;
  }
}