.mp {
  display: block;
  width: 200px;
  height: 277px;
  padding: 10px;
}

.mp .heading {
  font-size: 20px;
}

.mp-card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 200ms linear;
}

.mp-card:hover {
  opacity: 1;
}

.mp-card:hover > .mp-content {
  transform: translateY(-131px);
  opacity: 1;
}

.mp-card:hover > .mp-image {
  transform: scale(1.03);
}

.mp-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 20px 20px 0 20px;
  width: 100%;
  bottom: -131px;
  left: 0;
  opacity: 0;
  transition: opacity 200ms linear, transform 300ms linear;
  pointer-events: none;
  height: 130px;
}

.mp-content .heading {
  font-size: 2em;
}

.mp-content .text {
  margin-top: auto;
  font-size: 1.6em;
}

.mp-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: transform 300ms ease-in-out;
  pointer-events: none;
}
