.Items {
  background: white;
}

.Items-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.5;
}

.Items-list > dt,
.Items-list dd {
  border-bottom: 1px solid rgba(44, 63, 80, 0.15);
  flex: 1 50%;
  font-size: 0.9rem;
}

.Items-list > dt {
  text-transform: capitalize;
  border-right:  1px solid rgba(44, 63, 80, 0.15);
}

.Items-list dd {
  overflow: hidden;
  position: relative;
  text-align: left !important;
}

.Items-list dd div {
  background-color: #06ABDC;
  display: inline-block;
  height: 10px;
  left: 10px;
  margin-left: 5px;
  position: absolute;
  top: 33.3%;
}

.Items-list dd > span {
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 55%) 1 100%;
  border-style: solid;
  border-width: 0 50px 0 0;
  display: inline-block;
  position: absolute;
  right: 0;
  text-align: right;
  width: 50px;
}

.Items-list dd span > span {
  display: inline-block;
  min-width: 50px;
  position: relative;
  right: 0;
}

.Items-list > dt:last-of-type,
.Items-list dd:last-of-type {
  border-bottom: 0;
}
