.Colors {
  display: flex;
  margin: 2rem 0;
}

.Colors div {
  flex: 1;
  text-align: center;
}

.Colors--grey {
  color: #51575a;
}

.Colors--standsTaken {
  color: lightgreen;
}

.Colors--idle {
  color: lightgrey;
}

.Colors--away {
  color: salmon;
}

.Colors--absent {
  color: #dd673c;
}

.ColorBox {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-bottom: 2px;
}

.ColorBox--standsTaken {
  background-color: lightgreen;
}

.ColorBox--idle {
  background-color: lightgrey;
}

.ColorBox--away {
  background-color: salmon;
}

.ColorBox--absent {
  background-color: #dd673c;
}

@media (max-width: 450px) {
  .Details-item:not(.Details-item--large) .Colors {
    flex-wrap: wrap;
  }
  .Details-item:not(.Details-item--large) .Colors div {
    flex: 0 1 50%;
    padding: 1rem 0;
  }
}
