.Colors {
  display: flex;
}
@media (min-width: 768px) {
  .Details-item--large .Colors {
    width: 70%;
    margin-bottom: 5px;
    margin-left: auto;
  }
}
.Colors div {
  flex: 1;
  text-align: center;
}

.Colors--standsTaken {
  color: lightgreen;
}

.Colors--idle {
  color: lightgrey;
}

.Colors--away {
  color: salmon;
}

.Colors--absent {
  color: #DD673C;
}

@media (max-width: 450px) {
  .Details-item:not(.Details-item--large) .Colors {
    flex-wrap: wrap;
  }
  .Details-item:not(.Details-item--large) .Colors div {
    flex: 0 1 50%;
    padding: 1rem 0;
  }
}
