.Sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 18rem;
  max-width: 18rem;
  background: #2c3f50;
  border-right: 1px solid #fdfdff;
}

.Sidebar-top {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 6rem;
  color: #fdfdff;
  font-family: 'Lora', serif;
  font-size: 1.777rem;
  text-align: center;
}

.Sidebar-item {
  font-size: 1rem;
  padding: 0.75rem;
  color: #fdfdff;
  border-left: 4px solid transparent;
  text-indent: 1rem;
  letter-spacing: .5px;
}

.Sidebar-item > span {
  color: #eca72c;
}

.Sidebar-item:hover {
  background: rgba(33, 35, 36, 0.2);
}

.Sidebar-item.is-active {
  background: #212324;
  color: #fdfdff;
  border-color: #eca72c;
}
