.DetailsHeader {
  background: white;
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lora', serif;
  font-size: 1.777rem;
  margin: 0.563rem;
}

@media (min-width: 1234px) {
  .DetailsHeader {
    margin: 0;
  }
}

.DetailsHeader-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1 1 100%;
  height: 200px;
  margin-right: 1.333rem;
  max-width: 150px;
}

.DetailsHeader-details {
  border-bottom: 1px solid #d4d8dc;
  display: flex;
  flex: 1 1 100%;
  font-size: 1rem;
  padding: 2rem;
}

@media (min-width: 1234px) {
  .DetailsHeader {
    flex-wrap: nowrap;
  }
  .DetailsHeader-details {
    flex: 1;
    border-bottom: 0;
  }
  .DetailsHeader-bioText {
    font-size: 1.333rem;
  }
}

.DetailsHeader-bio {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  padding: 1rem;
}

.DetailsHeader-bioName {
  font-size: 1.333rem;
  margin-bottom: 0.2rem;
}

.DetailsHeader-bioText {
  font-family: 'Roboto', sans-serif;
  line-height: 1.666;
  font-size: 1rem;
  font-weight: 300;
}

.Main-subheader {
  padding: 0.25rem 0 0.75rem 0;
  color: #838a8e;
}
