.MpHeader {
  display: flex;
  flex-wrap: wrap;
  margin: 0.563rem;
  background: white;
  border-bottom: 1px solid rgba(44, 63, 80, 0.2);
  font-family: 'Lora', serif;
  font-size: 1.777rem;
}
@media (min-width: 1234px) {
  .MpHeader {
    margin: 0;
  }
}

.MpHeader-image {
  flex: 1 1 100%;
  max-width: 150px;
  height: 200px;
  margin-right: 1.333rem;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.MpHeader-details {
  display: flex;
  flex: 1 1 100%;
  width: 50%;
  border-bottom: 1px solid #d4d8dc;
  padding: 1.5rem;
  font-size: 1rem;
}
@media (min-width: 1234px) {
  .MpHeader {
    flex-wrap: nowrap;
  }
  .MpHeader-details {
    flex: 0 1 auto;
    border-bottom: 0;
  }
  .MpHeader-bioText {
    font-size: 1.333rem;
  }
}
.MpHeader-bio {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.MpHeader-bioName {
  margin-bottom: 0.75rem;
  font-size: 1.333rem;
}

.MpHeader-bioText {
  max-width: 27rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.MpHeader-stats {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  width: 100%;
  max-width: initial;
  margin: auto;
  padding: 2.369rem;
  border: 0;
  background: #f8fafb;
}
@media (min-width: 1234px) {
  .MpHeader-stats {
    width: 50%;
    max-width: 45rem;
    border-left: 1px solid rgba(44, 63, 80, 0.2);
    background: none;
  }
}
.MpHeader-statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
@media (min-width: 1234px) {
  .MpHeader-statsItem {
    margin-right: 2.25rem;
  }
  .MpHeader-statsItem:last-child {
    margin-right: 0;
  }
}
.MpHeader-statsHeading {
  font-size: 1rem;
  font-style: italic;
  color: #51575a;
}

.MpHeader-statsText {
  color: #06ABDC;
  font-size: 2rem;
  text-shadow: 0 2px 0 #FFF;
}
@media (min-width: 768px) {
  .Main-statsText {
    font-size: 2.5rem;
    text-transform: none;
  }
}
.Main-subheader {
  color: #838a8e;
}

@media (min-width: 768px) {
  .Main-subheader {
    margin-left: 0.75rem;
  }
}
