.ListItemImage {
  overflow: hidden;
  position: relative;
}

.ListItemImage-image {
  position: relative;
  width: 100%;
  padding-bottom: 135%;
  margin: auto;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: transform 0.1s ease-out, opacity 0.25s ease-out;
  transform: translateZ(0);
  cursor: pointer;
}

.ListItemImage-image--cover {
  background-size: cover;
}

.ListItemImage-image:hover {
  transform: scale(1.05) translateZ(0);
  opacity: 1;
}
