.mps {
  margin: 20px auto;
  width: 200px;
}

@media (min-width: 420px) {
  .mps {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .mps {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .mps {
    width: 800px;
  }
}
